@using ClinicManagementSystem.Models;
@model LoginViewModel
@{
    ViewBag.Title = "LogIn";
}


@*<h2 id="title">@ViewBag.Title.</h2>*@

<section class="gradient-custom">
    <div class="container py-5">
        <div class="row justify-content-center h-100">
            <div class="col-12 col-lg-9 col-xl-5 ">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="p-4 p-md-5 col-md-12 row">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
                        {
                            <div class="row">
                                @Html.AntiForgeryToken()
                                <h4>Login to your account.</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="mb-5 ">

                                    <div class="mb-4 ">
                                        <div class="form-outline">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg " })
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-6 form-label" })
                                        </div>
                                    </div>

                                    <div class="mb-4">

                                        <div class="form-outline">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg" })
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-6 form-label" })
                                        </div>
                                    </div>

                                    <div class="d-grid gap-4 col-7 ">
                                        <button class="btn btn-primary btn-lg" type="submit">Login</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .gradient-custom {
        /* fallback for old browsers */
        /*background: #f093fb;*/
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgb(15 45 76), rgb(12 52 58));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgb(15 45 76), rgb(12 52 58))
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}